@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
h1, h2, h3, h4, h5, h6, div, li, ul, a {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-decoration: none;
}

body {
    background: url('images/bg.png');
}

.container {
    width: 90%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    font-weight: 500;
    font-size: 16px;
}

.logo {
    display: flex;
    color: #bdbdbd;
    font-weight: 300;
    font-size: 24px;
    margin-top: 10px;
}

.white {
    color: #fff;
}

.main {
    margin-top: 15%;
    text-align: center;
}

.box {
    text-align: center;
}

.box h1 {
    font-weight: 300;
    font-size: 84px;
}

.box p {
    font-weight: 300;
    font-size: 16px;
    margin-top: -60px;
    letter-spacing: 4px;
}

.box a {
    margin-right: 20px;
    font-size: 32px;
    text-decoration: none;
    color: #bdbdbd;
    font-weight: 300;
}

.box a:hover {
    color: #fff;
}

.projects h1, h2, h3, p, a {
    font-family: 'Montserrat', sans-serif;
}

.projects {
    width: 600px;
    height: auto;
    left: 50%;
    background:#363636;
    margin:0 auto;
    padding: 10px;
    border-radius: 10px;
}

.projects h1 {
    font-weight: 300;
    text-align: center;
}

.project-item {
    padding-left: 5px;
}

.project-item p {
    margin-top: -15px;
}
